<app-header title="Verification Failed"></app-header>

<ion-content class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row class="ion-align-items-center"
      ><ion-col
        size="12"
        sizeSm="8"
        offsetSm="2"
        sizeMd="6"
        offsetMd="3"
        class="custom-border"
      >
        <ion-row>
          <ion-col size="12">
            <ion-icon
              name="close-outline"
              style="font-size: 10rem"
              color="primary"
            ></ion-icon>
          </ion-col>
          <ion-col>
            <ion-text style="font-size: 22px; line-height: 1.6"
              ><ion-text color="primary">STOP!</ion-text> Do not use! Your
              product is <ion-text color="primary">suspicious</ion-text> Please
              ensure that you have an original product and try to scan again
              Enquiries? Email:
              <ion-text color="dark"
                ><a href="mailto:help@zaions.com"
                  >help@zaions.com</a
                ></ion-text
              >
              Linda Cares!</ion-text
            >
          </ion-col>
          <ion-col size="12" class="ion-margin-top">
            <ion-button color="primary" [routerLink]="['/scan-and-verify']"
              >Go back</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
