<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header class="ion-padding">
      <ion-title>Scan & Verify</ion-title>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/scan-and-verify">
            <ion-icon slot="start" name="scan-circle-outline"></ion-icon>
            <ion-label>Scanner</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/generate-qr">
            <ion-icon slot="start" name="qr-code-outline"></ion-icon>
            <ion-label>Generate QR Code</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="openDeveloperWebsite()">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>About Developer</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
