<app-header title="Welcome"></app-header>

<ion-content class="ion-padding ion-text-center">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col
        size="12"
        sizeSm="8"
        offsetSm="2"
        sizeMd="6"
        offsetMd="3"
        class="custom-border"
      >
        <ion-col>
          <ion-title>Welcome to Sproxil Web Verification Service</ion-title>
        </ion-col>
        <ion-col class="ion-margin-top">
          <ion-img
            src="assets/product_verify.gif"
            class="welcome-img"
          ></ion-img>
        </ion-col>
        <br>
        <ion-col class="ion-padding"
          >Click “Scan QR Code” below to scan the QR code on your product and
          verify
        </ion-col>
        <br />
        <ion-col class="" style="margin-top: 20px; display: block;">
          <ion-button
            color="primary"
            [routerLink]="['/scan-and-verify']"
            class="btn-bg"
            >Scan QR Code</ion-button
          >
        </ion-col></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
